%OpenSans-SemiBold {
    font-family: "OpenSans-SemiBold";
    font-style: normal;
    font-weight: 600;
}

%OpenSans-Bold {
    font-family: "OpenSans-Bold";
    font-style: normal;
    font-weight: 700;
}

%Martel-Bold {
    font-family: "Martel-Bold";
    font-style: normal;
    font-weight: 700;
}

%OpenSans-Regular {
    font-family: "OpenSans-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

%Montserrat-Regular {
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: 400;
}